@import "reset.css";

body {
    background-color: rgb(2, 2, 46);
    color: aliceblue;
}

h1 {
    margin: 5px 0;
    font-size: 2em;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: brown;
}

canvas,
.sky {
    order: 1;
    border: 5px ridge rgb(187, 15, 15);
    margin-top: 10px;
    cursor: url(../media/crosshair.svg) 15 15, auto;
}

canvas {
    background: linear-gradient(0, rgba(245, 161, 26, 0.76) 0%, rgba(0, 157, 255, 1) 35%);
}

.sky {
    position: absolute;
    transform: rotate(180deg);
    overflow: hidden;
    pointer-events: none;
}

.sky img {
    position: absolute;
    bottom: 0;
    animation: animate calc(8s * var(--velocity)) linear infinite;
    max-width: 100%;
}

.info-player {
    padding-top: 10px;
    background-color: brown;
    font-size: 1.5rem;
    text-align: center;
}

.buttons {
    order: 2;
    padding: 10px;
    background-color: brown;
    text-align: center;
}

button {
    display: inline-block;
    border: 2px outset aliceblue;
    border-radius: 5%;
    padding: 3px 20px;
    background-color: transparent;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 500;
}

#reset,
#pause {
    display: none;
}

button:hover {
    background-color: rgb(194, 58, 58);
    cursor: pointer;
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
