@import "reset.css";

body {
    color: aliceblue;
    background-color: rgb(2, 2, 46);
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

canvas,
.sky {
    border: 5px ridge rgb(187, 15, 15);
    cursor: crosshair;
    margin-top: 10px;
}

canvas {
    background: linear-gradient(0, rgba(245, 161, 26, 0.76) 0%, rgba(0, 157, 255, 1) 35%);
}

.sky {
    position: absolute;
    transform: rotate(180deg);
    overflow: hidden;
    pointer-events: none;
}

.sky img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(8s * var(--velocity)) linear infinite;
}

.go-and-info {
    order: 1;
    margin-top: 10px;
    text-align: center;
}

.infoForPlayer {
    border: 1px dashed aliceblue;
    margin: 10px 0;
}

button {
    display: inline-block;
    width: 20%;
    border-radius: 5%;
    border: 2px outset aliceblue;
    color: aliceblue;
    background-color: transparent;
}

#reset,
#pause {
    display: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(194, 58, 58);
}

.infoForPlayer div {
    padding: 10px;
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
